<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <springProperty scope="context" name="appName" source="spring.application.name"/>
  <springProperty scope="context" name="lokiUrl" source="loki.url"/>

  <!-- 표준 콘솔 출력 (MDC traceId, spanId 포함) -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] [%X{traceId:-},%X{spanId:-}] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Grafana Loki HTTP Push Appender -->
  <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
    <http>
      <url>${lokiUrl}</url>
    </http>
    <format>
      <label>
        <pattern>app=${appName},host=${HOSTNAME},level=%level</pattern>
      </label>
      <message>
        <pattern>{"traceId":"%X{traceId:-}","spanId":"%X{spanId:-}","logger":"%logger{36}","message":"%replace(%msg){'[\r\n]+', ' '}","exception":"%replace(%ex){'[\r\n]+', ' '}"}</pattern>
      </message>
    </format>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="LOKI" />
  </root>
</configuration>